@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}
body {
  background: linear-gradient(to right, hsl(225, 5%, 83%), #ebe0d7);
  margin: 10;
  padding: 10;


}

